@charset "UTF-8";

* {
  /*For some browser*/
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  background: #f7f7f7;
  font-size: 1em;
  font-family: "Segoe UI", sans-serif;
  line-height: 135%;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  padding: 0;
}

a {
  color: #e8561f;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

a:hover {
  color: #e8c21f;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;

}

a:active {
  color: #eaebe2
}

/* Selection Block*/
::selection {
  background: #e8561f;
  color: white;
}

::-moz-selection {
  background: #e8561f;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

header, footer {
  width: 98%;
  background-color: white;
  float: left;
  /*min-height: 50px;/*For dynamic*/*/
}

header {
  padding: 1%;
  border-bottom: 2px solid silver;
}

#logo {
  font-size: 2em;
  font-family: Menlo,sans-serif;
  color: #114978;
}

#logo: hover {
  font-size: 2em;
  font-family: Menlo,sans-serif;
  color: #c36a18;
}


.contact {
  font-size: 1.5em;
  font-family: Menlo,sans-serif;
  margin-left: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after, footer {
  height: 10px;
}

.page-wrap {
  min-height: 94%;
  margin-bottom: -10px;
}

.clear {
  clear: both;
}

.menu {
  color: #063547;
  font-family: Menlo,sans-serif;
  font-size: 1.7em;
}

.menu hr {
  width: 500px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.menuHrefs a {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: #266fa4;
}

.menuHrefs a:hover {
  background-color: #098efb;
  color: white;
}

.wrapper {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.wrapper .articles {
  /*float: left;*/
  padding: 10px;
  margin: auto;
  width: 80%;
  margin-left: 10%;

}

.wrapper .articles article {
  float: left;
  border: 1px solid silver;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: #fafafa;
  min-height: 400px;
}

@media (min-width: 900px){
.wrapper .articles article {
  width: 31.3%;
  margin-right: 2%;
}
}

@media (max-width: 699px){
.wrapper .articles article {
  width: 100%;
  margin-bottom: 10px;
}
}

@media (max-width: 899px) and (min-width: 700px){
.wrapper .articles article {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}
}

.wrapper .articles article img {
  width: 100%;
  /*height: 200px;*/
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.wrapper .articles article h2 {
  line-height: 130%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-weight: normal;
  font-size: 1.7em;
}

.wrapper .articles article p {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 90%;
  margin-left: 5%;
  text-indent: 1em;
}

.wrapper a {
  color: black;
}

.mainSocialBlock {
  width: 100%;
  height: 5px;
  padding: 2% 0;
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  margin: 20px 0;
  float: left;

  background: url('../assets/social_bg.jpg') repeat-x center;
}

.mainSocialBlock_in {
  text-align: center;
  /*padding: 1%;*/
  height: 200px;
  color: white;
  width: 400px;
  margin: 0 auto;
  max-width: 98%;
  box-sizing: border-box;
}

input[type=text].field {
  border-radius: 2px;
  border: 2px solid silver;
  padding: 5px;
  margin-left: 20px;
}

input[type=text].field:focus {
  border: 2px solid #e8561f;
}

footer {
  padding: 1%;
  border-top: 2px solid silver;
  margin-top: 10px;
}

footer img {
  width: 5%;
  float: left;
  margin-right: 5px;
}


/* About.html */
.aboutUs {
  width: 100%;
  float: left;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;
  padding: 1%;
  text-align: center;
}

.aboutUs p a {
  color: #3cb91d;
}

.aboutUs p a:hover {
  color: #275755;
}

/* Feedback.html */
.sendFeedback {
  width: 60%;
  margin: 0 auto;
}

.sendFeedback input {
  border-radius: 2px;
  border: 2px solid silver;
  padding: 5px;
  /* margin-left: 20px; */
  clear: both;
  width: 40%;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.sendFeedback input:focus {
  border: 2px solid #e8561f;
}

.sendFeedback label, textarea {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
}

.sendFeedback textarea {
  width: 60%;
  float: left;
  clear: both;
  background-color: #fafafa;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.7em;
}

.sendFeedback #send {
  float: left;
  padding: 10px;
  background-color: #af9421;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.sendFeedback #send:hover {
  background-color: #4eaf21;
}
